<?xml version="1.0" encoding="utf-8" ?>

<ModPack>
  <Name>CustomMods</Name>
  <Mod>
    <DisplayName>DBZ Blink</DisplayName>
    <Description>Instant Transmission sound replaces blink dagger</Description>
    <SampleFile>data\blink\dbz.wav</SampleFile>

    <FileDescr>
      <Path>sounds\items</Path>
      <Name>blink_nailed.vsnd_c</Name>
      <SourcePath>data\blink\blink_nailed.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
    <FileDescr>
      <Path>sounds\weapons\hero\antimage</Path>
      <Name>blink_out.vsnd_c</Name>
      <SourcePath>data\blink\blink_nailed.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Sonic Haste</DisplayName>
    <Description>Replaces Haste rune with Sonic</Description>
    <SampleFile>data\runes\runes.mp3</SampleFile>

    <FileDescr>
      <Path>sounds\items</Path>
      <Name>rune_haste.vsnd_c</Name>
      <SourcePath>data\runes\rune_haste.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Darude Sandstorm</DisplayName>
    <Description>Replaces sandstorm with darude</Description>
    <SampleFile>data\sandking\darude.mp3</SampleFile>

    <FileDescr>
      <Path>sounds\weapons\hero\sand_king</Path>
      <Name>sand_king_sandstorm_loop.vsnd_c</Name>
      <SourcePath>data\sandking\darude.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Hit Marker Last Hit</DisplayName>
    <Description>For more visceral combat</Description>
    <SampleFile>data\hit\lasthit.mp3</SampleFile>

    <FileDescr>
      <Path>sounds\ui</Path>
      <Name>coins.vsnd_c</Name>
      <SourcePath>data\hit\lasthit.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Wow</DisplayName>
    <Description>Replace Phantom Assassin Coup de grace with Wow</Description>
    <SampleFile>data\pa\Wow.mp3</SampleFile>

    <FileDescr>
      <Path>sounds\weapons\hero\phantom_assassin</Path>
      <Name>coup_de_grace.vsnd_c</Name>
      <SourcePath>data\pa\wow.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Allahu Akbar</DisplayName>
    <Description>Replace Techies Suicide with Allahu Akbar</Description>
    <SampleFile>data\techies\suicide.mp3</SampleFile>

    <FileDescr>
      <Path>sounds\weapons\hero\techies</Path>
      <Name>arc_suicide.vsnd_c</Name>
      <SourcePath>data\techies\suicide.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
    <FileDescr>
      <Path>sounds\weapons\hero\techies</Path>
      <Name>suicide.vsnd_c</Name>
      <SourcePath>data\techies\suicide.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>On All Levels</DisplayName>
    <Description>Replaces Lycan Ult</Description>
    <SampleFile>data\lycan\ss.mp3</SampleFile>

    <FileDescr>
      <Path>sounds\weapons\hero\lycan</Path>
      <Name>shape_shift.vsnd_c</Name>
      <SourcePath>data\lycan\ss.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>NFL Theme</DisplayName>
    <Description>Replace Lich Chain Frost loop sound with theme</Description>
    <SampleFile>data\lich\nfl.mp3</SampleFile>

    <FileDescr>
      <Path>sounds\weapons\hero\lich</Path>
      <Name>chain_frost_cast.vsnd_c</Name>
      <SourcePath>data\lich\nfl.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
<!--
  <Mod>
    <DisplayName></DisplayName>
    <Description></Description>
    <SampleFile></SampleFile>

    <FileDescr>
      <Path></Path>
      <Name></Name>
      <SourcePath></SourcePath>
      <Type></Type>
    </FileDescr>
  </Mod>
-->
</ModPack>