<ModPack>
	<Name>CustomMods</Name>
	<Mod>
		<DisplayName>DBZ Blink</DisplayName>
		<Description>Combines Blink Dagger with Instant Transmission</Description>
		<SampleFile>data/blink/dbz.wav</SampleFile>
		<FileDescr>
			<Path>sounds/items</Path>
			<Name>blink_nailed</Name>
			<SourcePath>data/blink/blink_nailed</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
		<FileDescr>
			<Path>sounds/weapons/hero/antimage</Path>
			<Name>blink_out</Name>
			<SourcePath>data/blink/blink_nailed</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Sonic Haste</DisplayName>
		<Description>Replaces Haste rune with Sonic</Description>
		<SampleFile>data/runes/runes.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/items</Path>
			<Name>rune_haste</Name>
			<SourcePath>data/runes/rune_haste</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Darude Sandstorm</DisplayName>
		<Description>Replaces Sandking's sandstorm with darude</Description>
		<SampleFile>data/sandking/darude.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/sand_king</Path>
			<Name>sand_king_sandstorm_loop</Name>
			<SourcePath>data/sandking/darude</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Hit Marker Gold</DisplayName>
		<Description>Adds a hitmarker to the gold sound</Description>
		<SampleFile>data/hit/lasthit.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/ui</Path>
			<Name>coins</Name>
			<SourcePath>data/hit/lasthit</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Wow</DisplayName>
		<Description>Combine Phantom Assassin's Ult and Wow</Description>
		<SampleFile>data/pa/Wow.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/phantom_assassin</Path>
			<Name>coup_de_grace</Name>
			<SourcePath>data/pa/wow</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Allahu Akbar</DisplayName>
		<Description>Combine Techie's Ult with Allahu Akbar</Description>
		<SampleFile>data/techies/suicide.mp3</SampleFile>
		<Offensive>true</Offensive>
		<FileDescr>
			<Path>sounds/weapons/hero/techies</Path>
			<Name>arc_suicide</Name>
			<SourcePath>data/techies/suicide</SourcePath>
			<Type>Sound</Type>
			<CosmeticItem>true</CosmeticItem>
		</FileDescr>
		<FileDescr>
			<Path>sounds/weapons/hero/techies</Path>
			<Name>suicide</Name>
			<SourcePath>data/techies/suicide</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>On All Levels</DisplayName>
		<Description>Combine Lycan's Ult with On All Levels</Description>
		<SampleFile>data/lycan/ss.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/lycan</Path>
			<Name>shape_shift</Name>
			<SourcePath>data/lycan/ss</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Intervention Sniper</DisplayName>
		<Description>Combine Sniper's Ult sound with Intervention</Description>
		<SampleFile>data/sniper/inter.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/sniper</Path>
			<Name>sniper_assassinate</Name>
			<SourcePath>data/sniper/assasinate_projectile</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Reincarnate Illuminati</DisplayName>
		<Description>Replace Wraith King's Ult/Aegis with X-Files Theme</Description>
		<SampleFile>data/wk/illum.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/skeleton_king</Path>
			<Name>reincarnate</Name>
			<SourcePath>data/wk/illum</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Running in the 90s</DisplayName>
		<Description>Replaces Spirit Breaker's Charge with Running in the 90s</Description>
		<SampleFile>data/sb/running.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/spirit_breaker</Path>
			<Name>charge_cast</Name>
			<SourcePath>data/sb/running</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Airhorn</DisplayName>
		<Description>Replaces starting horn with airhorn</Description>
		<SampleFile>data/ambient/airhorn.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/ambient</Path>
			<Name>horn_radiant</Name>
			<SourcePath>data/ambient/airhorn</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
		<FileDescr>
			<Path>sounds/ambient</Path>
			<Name>horn_dire</Name>
			<SourcePath>data/ambient/airhorn</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Za Warudo</DisplayName>
		<Description>Combines Faceless Void's Ult with Za Warudo</Description>
		<SampleFile>data/fv/warudo.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/faceless_void</Path>
			<Name>chronosphere_immortal</Name>
			<SourcePath>data/fv/warudo</SourcePath>
			<Type>Sound</Type>
			<CosmeticItem>true</CosmeticItem>
		</FileDescr>
		<FileDescr>
			<Path>sounds/weapons/hero/faceless_void</Path>
			<Name>chronosphere</Name>
			<SourcePath>data/fv/warudo</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Sad Boys Song of the Siren</DisplayName>
		<Description>Replaces Naga Siren's Ult with Kyoto by Yung Lean</Description>
		<SampleFile>data/naga/sadboys.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/naga_siren/</Path>
			<Name>song_of_the_siren</Name>
			<SourcePath>data/naga/sadboys</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Let it Go Freezing Field</DisplayName>
		<Description>Combine Crystal Maiden's Ult with Let it Go</Description>
		<SampleFile>data/cm/let_it_freeze.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/crystal_maiden/</Path>
			<Name>freezing_field</Name>
			<SourcePath>data/cm/let_it_freeze</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Super Nova Nuclear Siren</DisplayName>
		<Description>Combine Phoenixes Ult with a Nuclear Siren</Description>
		<SampleFile>data/phoenix/super_nova_nuke.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/phoenix/</Path>
			<Name>super_nova_cast</Name>
			<SourcePath>data/phoenix/super_nova_nuke</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Split Earth Drop</DisplayName>
		<Description>Combine Elder Titan's Split Earth with Holdin' On (Remix)</Description>
		<SampleFile>data/elder_titan/earth_split_full.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/elder_titan/</Path>
			<Name>earth_split</Name>
			<SourcePath>data/elder_titan/earth_split</SourcePath>
			<Type>Sound</Type>
		</FileDescr8
		<FileDescr>
			<Path>sounds/weapons/hero/elder_titan/</Path>
			<Name>earth_split_destroy01</Name>
			<SourcePath>data/elder_titan/earth_split_destroy01</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Smoke Weed</DisplayName>
		<Description>Combines Smoke of Deceit with Smoke Weed Every Day</Description>
		<SampleFile>data/items/smoke_weed.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/items/</Path>
			<Name>smoke_of_deceit</Name>
			<SourcePath>data/items/smoke_weed</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Dust of Appearance</DisplayName>
		<Description>Combine Dust of Appearance with Metal Gear Solid Detection Sound</Description>
		<SampleFile>data/items/dust.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/items/</Path>
			<Name>dust_of_appearance</Name>
			<SourcePath>data/items/dust</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Lugana Blade</DisplayName>
		<Description>Combines Lina's Ult with Plankton saying ZAP</Description>
		<SampleFile>data/lina/lagunablade.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/lina/</Path>
			<Name>lagunablade</Name>
			<SourcePath>data/lina/lagunablade</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
		<FileDescr>
			<Path>sounds/weapons/hero/lina/</Path>
			<Name>lagunablade_immortal</Name>
			<SourcePath>data/lina/lagunablade_immortal</SourcePath>
			<Type>Sound</Type>
			<CosmeticItem>true</CosmeticItem>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Dagon</DisplayName>
		<Description>Combines Dagon with Toasty from Mortal Kombat</Description>
		<SampleFile>data/items/dagon.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/items/</Path>
			<Name>dagon</Name>
			<SourcePath>data/items/dagon</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
	<Mod>
		<DisplayName>Lion Spirit Gun</DisplayName>
		<Description>Combines Lion's Ult with Spirit Gun</Description>
		<SampleFile>data/lion/finger_of_death.mp3</SampleFile>
		<FileDescr>
			<Path>sounds/weapons/hero/lion/</Path>
			<Name>finger_of_death</Name>
			<SourcePath>data/lion/finger_of_death</SourcePath>
			<Type>Sound</Type>
		</FileDescr>
		<FileDescr>
			<Path>sounds/weapons/hero/lion/</Path>
			<Name>finger_cast_ti8</Name>
			<SourcePath>data/lion/finger_cast_ti8</SourcePath>
			<CosmeticItem>true</CosmeticItem>
			<Type>Sound</Type>
		</FileDescr>
	</Mod>
</ModPack>
