<ModPack>
  <Name>CustomMods</Name>
  <Mod>
    <DisplayName>DBZ Blink</DisplayName>
    <Description>Instant Transmission sound replaces blink dagger</Description>
    <SampleFile>data/blink/dbz.wav</SampleFile>

    <FileDescr>
      <Path>sounds/items</Path>
      <Name>blink_nailed.vsnd_c</Name>
      <SourcePath>data/blink/blink_nailed.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
    <FileDescr>
      <Path>sounds/weapons/hero/antimage</Path>
      <Name>blink_out.vsnd_c</Name>
      <SourcePath>data/blink/blink_nailed.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Sonic Haste</DisplayName>
    <Description>Replaces Haste rune with Sonic</Description>
    <SampleFile>data/runes/runes.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/items</Path>
      <Name>rune_haste.vsnd_c</Name>
      <SourcePath>data/runes/rune_haste.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Darude Sandstorm</DisplayName>
    <Description>Replaces sandstorm with darude</Description>
    <SampleFile>data/sandking/darude.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/sand_king</Path>
      <Name>sand_king_sandstorm_loop.vsnd_c</Name>
      <SourcePath>data/sandking/darude.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Hit Marker Last Hit</DisplayName>
    <Description>For more visceral combat</Description>
    <SampleFile>data/hit/lasthit.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/ui</Path>
      <Name>coins.vsnd_c</Name>
      <SourcePath>data/hit/lasthit.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Wow</DisplayName>
    <Description>Replace Phantom Assassin Coup de grace with Wow</Description>
    <SampleFile>data/pa/Wow.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/phantom_assassin</Path>
      <Name>coup_de_grace.vsnd_c</Name>
      <SourcePath>data/pa/wow.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Allahu Akbar</DisplayName>
    <Description>Replace Techies Suicide with Allahu Akbar</Description>
    <SampleFile>data/techies/suicide.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/techies</Path>
      <Name>arc_suicide.vsnd_c</Name>
      <SourcePath>data/techies/suicide.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
    <FileDescr>
      <Path>sounds/weapons/hero/techies</Path>
      <Name>suicide.vsnd_c</Name>
      <SourcePath>data/techies/suicide.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>On All Levels</DisplayName>
    <Description>Replaces Lycan Ult</Description>
    <SampleFile>data/lycan/ss.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/lycan</Path>
      <Name>shape_shift.vsnd_c</Name>
      <SourcePath>data/lycan/ss.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Intervention Sniper</DisplayName>
    <Description>Replace sniper ult sound</Description>
    <SampleFile>data/sniper/inter.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/sniper</Path>
      <Name>assasinate_projectile.vsnd_c</Name>
      <SourcePath>data/sniper/assasinate_projectile.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Reincarnate Illuminati</DisplayName>
    <Description>Replace Wraith King ult with X-Files Theme</Description>
    <SampleFile>data/wk/illum.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/skeleton_king</Path>
      <Name>reincarnate.vsnd_c</Name>
      <SourcePath>data/wk/illum.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Spirit Breaker - Running in the 90s</DisplayName>
    <Description>Replaces charge with Running in the 90s</Description>
    <SampleFile>data/sb/running.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/spirit_breaker</Path>
      <Name>charge_cast.vsnd_c</Name>
      <SourcePath>data/sb/running.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Airhorn for starting horn</DisplayName>
    <Description>Replaces starting horn with airhorn</Description>
    <SampleFile>data/ambient/airhorn.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/ambient</Path>
      <Name>horn_radiant.vsnd_c</Name>
      <SourcePath>data/ambient/airhorn.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
    <FileDescr>
      <Path>sounds/ambient</Path>
      <Name>horn_dire.vsnd_c</Name>
      <SourcePath>data/ambient/airhorn.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Za Warudo for Chrono Sphere</DisplayName>
    <Description>Replaces Faceless Void's Ultimate</Description>
    <SampleFile>data/fv/warudo.mp3</SampleFile>

    <FileDescr>
      <Path>sounds/weapons/hero/faceless_void</Path>
      <Name>chronosphere_immortal.vsnd_c</Name>
      <SourcePath>data/fv/warudo.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
    <FileDescr>
      <Path>sounds/weapons/hero/faceless_void</Path>
      <Name>chronosphere.vsnd_c</Name>
      <SourcePath>data/fv/warudo.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
  <Mod>
    <DisplayName>Sad Boys Song of the Siren</DisplayName>
    <Description>Replaces Naga's Ultimate with Kyoto by Yung Lean</Description>
    <SampleFile>data/naga/sadboys.mp3</SampleFile>
    <FileDescr>
      <Path>sounds/weapons/hero/naga_siren/</Path>
      <Name>song_of_the_siren.vsnd_c</Name>
      <SourcePath>data/naga/sadboys.vsnd_c</SourcePath>
      <Type>Sound</Type>
    </FileDescr>
  </Mod>
</ModPack>
